{% load static %}
<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl">
    <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        &reg;
        <script> document.write(new Date().getFullYear()); </script>
      </div>
      <div class="d-none d-lg-inline-block">made with <a href="http://themeselection.com/" target="_blank">ThemeSelection</a> </div>
    </div>
  </div>
</footer>

<div class="content-backdrop fade"></div>